-if @kiitos
  %div{:class => "alert alert-success" }
    %a.close{"data-dismiss" => "alert"} ×
    = content_tag :div, @kiitos, :id => "flash_success"


%p.center.lead Tässä kyselyssä tutkimme, minkälaista ohjelmakoodia aloittelevat ohjelmoijat pitävät hyvänä. Vastaa kysymyksiin oman tuntemuksesi pohjalta, sinun ei tarvitse ymmärtää ohjelmaa tai ohjelmakoodia. Voit aina myös antaa vapaamuotoisen perustelun vastauksellesi.


= button_to "Vastaa kyselyyn tästä", new_student_path, :method => :get, :class => "btn btn-primary"